# IMPORTANT:
# This file is ONLY used to subscribe for notifications for PRs
# related to a specific file path. Approvals from people in this
# file are not required for merges.


/spmd/ @wanchaol @aazzolini @awgu @mrshenli @anj-s
/test/spmd/ @wanchaol @aazzolini @awgu @mrshenli @anj-s
