# Python dependencies required for development
astunparse
black
expecttest
hypothesis
numpy
psutil
pyyaml
requests
setuptools
six
types-dataclasses
typing_extensions
sympy
pyre-check
pytest
pytest-cov
pytest-xdist
