name: Code Quality Checks

on:
  push:
    branches:
    - main
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Lints
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10.6"
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r docs/requirements.txt
        pip install types-docutils types-setuptools tqdm types-tabulate
        if [ -f requirements.txt ]; then pip install -r requirements.txt --index-url https://download.pytorch.org/whl/cpu; fi
        pip install "black<23" pylint==v3.0.0a5 mypy==v0.981 flake8==3.8.2 pyre-check==0.9.15 ufmt==2.1.0
    - name: Static Analysis Checks
      if: always()
      run: ./check.sh
