name: Code Quality Checks

on:
  push:
    branches:
    - main
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Lints
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: "3.10.6"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r docs/requirements.txt
        pip install types-docutils types-setuptools tqdm
        if [ -f requirements.txt ]; then pip install -r requirements.txt --find-links https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html; fi
        pip install --pre torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
        pip install git+https://github.com/pbelevich/transformers.git@compatible_with_pt_master
        pip install "black<23" pylint==v3.0.0a5 mypy==v0.902 flake8 pyre-check==0.9.15

    - name: Pyre check for SPMD
      if: always()
      run: pyre check

    - name: Lint with pylint
      if: always()
      run: pylint --disable=all --enable=unused-import $(git ls-files '*.py')

    - name: Lint with mypy
      if: always()
      run: mypy $(git ls-files '*.py' | grep -v pippy/fx | grep -v test/.*fx | grep -v examples/hf)

    - name: Lint with flake8
      if: always()
      run: flake8 pippy spmd

    - name: Lint with black
      if: always()
      run: ./format.sh --check
