name: Code Quality Checks
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Lints
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r docs/requirements.txt
        pip install types-docutils types-setuptools tqdm
        if [ -f requirements.txt ]; then pip install -r requirements.txt --find-links https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html; fi
        pip install --pre torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
        pip install git+https://github.com/pbelevich/transformers.git@pippy
        pip install "black<23" pylint==v3.0.0a3 mypy==v0.902 flake8
    - name: Lint with pylint
      run: pylint --disable=all --enable=unused-import $(git ls-files '*.py')
    - name: Lint with mypy
      run: mypy $(git ls-files '*.py')
    - name: Lint with flake8
      run: flake8 pippy
